{% extends 'base.html' %} 
{% block content %}

<h1>Home</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, iste nam
  voluptatem voluptatum minus ab modi molestiae temporibus, velit sed error
  labore soluta perspiciatis totam quia nostrum praesentium repellat in nobis
  aperiam reiciendis, exercitationem minima. Perferendis cumque eaque doloribus,
  commodi accusantium facere quibusdam ut? Quod totam provident, harum
  repellendus dignissimos ratione voluptatibus magnam itaque impedit aut, quae
  doloribus deserunt cupiditate officia sint consequuntur ullam nisi explicabo
  quis ex facilis non adipisci saepe optio! Ad, dolore aut! Voluptatem eos quos
  dolores similique labore culpa, quasi, aut quo unde amet sunt necessitatibus
  itaque iste iusto autem, harum molestiae nisi ducimus consequatur. Sunt?
</p>

{% endblock %}
